*.aux
*.toc
*.idx
*.log
*.log
*.tex
programming.pdf
programmingmatlab.pdf
.programming.exerinfo
.DS_Store
tmp_preprocess__programming.do.txt
test2.py
test3.py
test4.py
test5.py
quiver_demo.py
plot3test.py
plot3d_mayavi.ipynb
plot3d_matplotlib.ipynb
plot3d_matlabnb.m
temp*.png
anim*.png